<%- include('common/view_start', {
  title: 'Tuition fee',
  cssFiles: [],
  navBarLocation: 'tuitionfee'
}) %>

<%- include('common/header', {
  heading: 'Tuition fee',
  subheading: 'แสดงผลการชำระค่าเล่าเรียน',
  breadcrumb: [
    'Tuition fee'
  ]
}) %>

<div class="container">
	<h3>ข้อมูลทั่วไปของนิสิต</h3>
	<pre><b>ชื่อ นามสกุล</b> <%- fullname %></pre>
	<pre><b>ระดับ</b> ปริญญาตรี</pre>
	<pre><b>คณะ</b> <%- facultyname %> <b>ภาควิชา</b> <%- departmentname %></pre>
	<pre><b>หลักสูตร</b> <%- curriculuminfo %></pre>
	<hr>
	<h3>ค่าเล่าเรียน</h3>
	<pre><b>เทอม/ปี</b> <%- termandyear %></pre>
	<pre><b>ทั้งหมด</b> <%- payamount %></pre>
	<pre><b>ชำระแล้ว</b> <%- paid %></pre>
	<pre><b>ค้างชำระ</b> <%- left %></pre>
	<hr>
	<h3>วิธีการชำระ</h3>
	<pre>ผ่านการหักจากเงินฝากธนาคาร</pre>
</div>

<%- include('common/view_end', {
  jsFiles: ['manager_board']
}) %>
